ase==3.22.0
attrs==21.2.0
certifi==2021.10.8
charset-normalizer==2.0.7
cycler==0.10.0
e3nn==0.4.0
flake8==4.0.1
googledrivedownloader==0.4
idna==3.3
importlib-metadata==4.2.0
iniconfig==1.1.1
isodate==0.6.0
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
mpmath==1.2.1
mypy==0.910
mypy-extensions==0.4.3
ndim==0.1.5
networkx==2.6.3
numpy==1.21.3
opt-einsum==3.3.0
opt-einsum-fx==0.1.2
orthopy==0.9.6
packaging==21.0
pandas==1.3.4
Pillow==8.4.0
pluggy==1.0.0
py==1.10.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.3
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
quadpy==0.16.10
rdflib==6.0.2
requests==2.26.0
scikit-learn==1.0.1
scipy==1.7.1
six==1.16.0
sympy==1.9
threadpoolctl==3.0.0
toml==0.10.2
torch==1.8.1
torch-geometric==2.0.2
tqdm==4.62.3
typed-ast==1.4.3
typing-extensions==3.10.0.2
urllib3==1.26.7
yacs==0.1.8
yapf==0.31.0
zipp==3.6.0
